* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#container {
  background: hsl(257, 40%, 49%);
}

#logo {
  height: 35px;
  margin-top: 20px;
  margin-left: 20px;
}
#main-bg {
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#main-bg {
  margin-top: 40px;
  margin-left: 75px;
}
#main-banner {
  height: 200px;
  width: 250px;
}

#intro {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 20px;
}

#desc-text {
  color: white;
  font-size: 16px;
  margin-top: 15px;
}

#reg {
  width: 190px;
  height: 40px;
  border-radius: 16px;
  border: 2px solid white;
  margin-left: 120px;
}

#social-media {
  margin-top: 20px;
  margin-left: 180px;
}
