* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: white;
}

#container {
  height: 100vh;
  background-image: url(../images/bg-desktop.svg);
  background-size: center center;
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
}

#main-logo {
  height: 40px;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}

#main-illustration {
  height: 350px;
  margin-top: 4rem;
  margin-left: 4rem;
}

#main-tag {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 46rem;
  margin-top: -21rem;
}

#main-intro {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  margin-left: 45rem;
  margin-top: 2.5rem;
}

#reg {
  margin-left: 45rem;
  margin-top: 2rem;
  height: 3rem;
  width: 8rem;
  border: 2px solid white;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

#reg:hover {
  background-color: hsl(300, 69%, 71%);
  border: 2px solid black;
}

#soc-row {
  margin-left: 75rem;
  margin-top: 1.5rem;
}

#social-media {
  margin-top: 4rem;
}

footer {
  background-color: hsl(257, 40%, 49%);
  color: white;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  font-size: 2rem;
}

#me {
  color: white;
}

.imgh {
  height: 40px;
  padding: 5px;
}

@media (max-width: 767.98px) {
  #container {
    height: 1050px;
    width: 538px;
    background-size: contain;
    background-position: top center;
  }

  #main-logo {
    height: 35px;
    margin-top: 1.5rem;
  }

  #main-illustration {
    height: 260px;
    margin-top: 1.6rem;
    margin-left: 4rem;
  }

  #main-tag {
    font-size: 1.9rem;
    font-weight: 600;
    margin-left: 5rem;
    margin-top: 2.2rem;
  }

  #main-intro {
    font-size: 4vw;
    margin-left: 5.5rem;
    margin-top: 3.5rem;
    text-align: justify;
  }

  #reg {
    margin-left: 8rem;
    margin-top: 3rem;
    height: 3rem;
    width: 15rem;
    font-size: 0.9rem;
  }

  #soc-row {
    margin-left: 13rem;
    /*margin-top: 0.5rem;*/
  }

  #social-media {
    margin-top: 4rem;
  }

  footer {
    position: absolute;
    top: 855px;
    left: 62px;
  }
}
